source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0, net6.0 

nuget FSharp.Core                       >= 5.0.0 lowest_matching: true
nuget System.Collections.Immutable      ~> 6.0
nuget Aardvark.Build                    ~> 1.0.18

nuget Aardvark.Base                     ~> 5.2.5
nuget Aardvark.Data.Durable             ~> 0.3.9
nuget Aardvark.Data.Durable.Codec       ~> 0.3.9
nuget Uncodium.SimpleStore              ~> 3.0.22

nuget xunit                             ~> 2.4.2
nuget xunit.runner.visualstudio         ~> 2.4.5
nuget coverlet.collector                ~> 3.2.0
nuget Microsoft.NET.Test.Sdk            ~> 17.4.1