source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1

nuget FSharp.Core                       >= 4.6.2 lowest_matching: true

nuget Aardvark.Base                     ~> 5.1.8
nuget Aardvark.Data.Durable             ~> 0.2.19
nuget Aardvark.Data.Durable.Codec       ~> 0.2.19
nuget Newtonsoft.Json                   ~> 12.0.0
nuget Uncodium.SimpleStore              ~> 2.1.10

nuget xunit                             ~> 2.4.1
nuget xunit.runner.visualstudio         ~> 2.4.3
nuget coverlet.collector                ~> 1.3.0
nuget Microsoft.NET.Test.Sdk            ~> 16.5.0